.Logo {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: space-between;
}

.MangaASD {
    height: 37px;
    width: 166px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 10px;
}

.registrarse {
    background: rgb(0, 0, 0);
    color: #d9dad9;
    text-align: center;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    font-weight: bold;
    transition-duration: 0.4s;
    border: none;
    border-radius: 10px;
    padding: 8px 8px;
    margin-right: 10px;
}

.registrarse:hover {
    background: white;
    color: black;
}
.username{
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}